$lato:'Lato', sans-serif;
$raleway: 'Raleway', sans-serif;

$darkblue: #020122;
$orange: #ff8000;
$blue: #338fff;
$white: #faebd7;
$black: #1f1f1f;
$lightblack: #7a7a7a;
$grey: #e8e8e8;
$lightgrey: #EBEBEB;
// $red: #f44336;
$red: #9D0C02;

$navbar-text: #3c3c3c;
$navbar-text-hover: #338fff;
$navbar-header: $orange;
$navbar-header-hover: $blue;
$navbar-background: #ffffff;
$drawer-handle-color: #338fff;

$navbar-font: $lato;


$text: #3c3c3c;
$svg-fill: #666666;